
/*Css form*/
.comp-form {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #80808069;
    width: 100%;
    height: 100%;
    z-index: 10;
}
.form {
    font-family: GoogleSans-Thin;
    position: absolute;
    width: 40%;
    margin-left: 30%;
    background-color: white;
    margin-top: 5%;
}

  span {
    color: red;
}
.content-form {
    width: 100%;
    display: flex;
}
form footer {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    background-color: #f5f5f5;
    padding: 10px 20px;
}
.inputNumber{
    text-align: right;
}