
/* Css cho phần danh sách tài sản */
table {
    border: none;
    border-collapse: collapse;
    width: 100%;
    border-bottom: 1px solid #e2e2e2;
}
.table-data {
    height: 785px;
    overflow: auto;
    overflow-x: hidden;
}
.table thead th {
    position: sticky;
    top: 0;
    background-color: white;
    border: none;
}

tbody {
    overflow: auto;
}
th,td {
    font-size: 13px;
    font-family: GoogleSans-Thin;
    font-weight: 200;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-left: 20px;
}
/* xóa viền ngoài cùng bên phải của bảng  */
tbody td,tbody th {
    border: 1.7px solid #e2e2e2;
    border-right: none;
}
/* xóa viền ngoài cùng bên trái bảng  */
tbody th{
    text-align: center;
    padding: 0;
    border-left: none;
}
tr{
    cursor: pointer;
}
/* Css cho khi hover vào item */
tbody tr:hover{
    background-color: #f0f8ff;
    transition: 0.4s;
}
/* Css cho khi click vào item */
.highlight{
    background-color: #f0f8ff;
}